In [ ]:
# Importing reqired libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [ ]:
actor=pd.read_csv('Dataset/Actors.csv')

In [ ]:
actress=pd.read_csv('Dataset/Actress.csv')

In [ ]:
director=pd.read_csv('Dataset/Directors.csv')

In [ ]:
actor.shape

(4255946, 2)

In [ ]:
actress.shape

(3811677, 2)

In [ ]:
director.shape

(4311052, 2)

In [ ]:
# Merging actor,actess on "tconst"

merged=pd.merge(actor,actress,on=["tconst"])

In [ ]:
merged

            tconst  ...                                            Actress
0        tt0000009  ...                                ['Blanche Bayliss']
1        tt0000017  ...                                        ['Larella']
2        tt0000075  ...                                 ["Jehanne d'Alcy"]
3        tt0000091  ...                                 ["Jehanne d'Alcy"]
4        tt0000121  ...                      ['Julie Seale', 'Ellen Daws']
...            ...  ...                                                ...
3354353  tt9916848  ...                     ['Zeynep Alkan', 'Pelin Akil']
3354354  tt9916850  ...                     ['Zeynep Alkan', 'Pelin Akil']
3354355  tt9916852  ...                     ['Zeynep Alkan', 'Pelin Akil']
3354356  tt9916856  ...  ['Kathrin Knöpfle', 'Leni Wesselman', 'Anna Fi...
3354357  tt9916880  ...            ['Sue Elliott-Nichols', 'Eden Gamliel']

[3354358 rows x 3 columns]

In [ ]:
# Merging above results with directors_data

merged1=pd.merge(merged,director,on=["tconst"])

In [ ]:
merged1

            tconst  ...                                   Director
0        tt0000009  ...                        ['Alexander Black']
1        tt0000017  ...  ['Max Skladanowsky', 'Emil Skladanowsky']
2        tt0000121  ...                            ['Alfred Moul']
3        tt0000172  ...                    ['George Albert Smith']
4        tt0000230  ...                         ['Georges Méliès']
...            ...  ...                                        ...
2556770  tt9916848  ...        ['Deniz Yorulmazer', 'Semih Bagci']
2556771  tt9916850  ...        ['Deniz Yorulmazer', 'Semih Bagci']
2556772  tt9916852  ...        ['Deniz Yorulmazer', 'Semih Bagci']
2556773  tt9916856  ...                       ['Johan Planefeldt']
2556774  tt9916880  ...                           ['Hilary Audus']

[2556775 rows x 4 columns]

In [ ]:
India_movie=pd.read_csv('Dataset/India_Dataset.csv')

In [ ]:
India_movie

       Unnamed: 0     tconst  ...   directors                           writers
0               0  tt0004972  ...   nm0000428     nm0228746,nm0000428,nm0940488
1               1  tt0010386  ...   nm0454535                         nm0517786
2               2  tt0011960  ...   nm0523932               nm0473134,nm0523932
3               3  tt0012349  ...   nm0000122                         nm0000122
4               4  tt0013257  ...   nm0159725                         nm0159725
...           ...        ...  ...         ...                               ...
31465       31465  tt9911006  ...  nm10536350             nm10536351,nm10536350
31466       31466  tt9911006  ...  nm10536350             nm10536351,nm10536350
31467       31467  tt9911306  ...   nm8929755                        nm10536387
31468       31468  tt9911774  ...  nm10536451  nm10536451,nm10536453,nm10536454
31469       31469  tt9911774  ...  nm10536451  nm10536451,nm10536453,nm10536454

[31470 rows x 18 columns]

In [ ]:
final=pd.merge(India_movie,merged1,on=["tconst"])

In [ ]:
final

       Unnamed: 0  ...                 Director
0               0  ...        ['D.W. Griffith']
1               2  ...       ['Ernst Lubitsch']
2               5  ...  ['Chester M. Franklin']
3               6  ...      ['Wallace Worsley']
4               8  ...            ['John Ford']
...           ...  ...                      ...
26245       31465  ...    ['Suresh Thiruvalla']
26246       31466  ...    ['Suresh Thiruvalla']
26247       31467  ...       ['P.K. Baaburaaj']
26248       31468  ...      ['Vineesh Aaradya']
26249       31469  ...      ['Vineesh Aaradya']

[26250 rows x 21 columns]

In [ ]:
# Saving this data to "India_Final.csv".All the analysis for India is to be performed on this dataset.
 
final.to_csv('Dataset/India_Final.csv')

In [ ]:
US_movie=pd.read_csv('Dataset/US_Dataset.csv')

In [ ]:
US_movie

        Unnamed: 0  ...                                   writers
0                0  ...                                 nm0846879
1                1  ...                                 nm0141150
2                2  ...                       nm0000875,nm0877783
3                3  ...                       nm0676645,nm0836316
4                4  ...                       nm0676645,nm0836316
...            ...  ...                                       ...
169451      169451  ...  nm6449800,nm10537887,nm3644375,nm6119329
169452      169452  ...                                 nm2507310
169453      169453  ...             nm5412267,nm6743460,nm3245789
169454      169454  ...                                 nm7308376
169455      169455  ...                       nm1893148,nm3471432

[169456 rows x 17 columns]

In [ ]:
final_US=pd.merge(US_movie,merged1,on=["tconst"])

In [ ]:
final_US

        Unnamed: 0  ...                Director
0                0  ...        ['Charles Tait']
1                1  ...        ['Michel Carré']
2                3  ...  ['J. Stuart Blackton']
3                4  ...  ['J. Stuart Blackton']
4                5  ...  ['J. Stuart Blackton']
...            ...  ...                     ...
123436      169442  ...     ['Johan Nijenhuis']
123437      169444  ...       ['Gilbert Allan']
123438      169450  ...           ['Laura Jou']
123439      169453  ...     ['Tamar Guimaraes']
123440      169455  ...        ['Pablo Agüero']

[123441 rows x 20 columns]

In [ ]:
# Saving this data to "US_Final.csv".All the analysis for US is to be performed on this dataset.

final_US.to_csv('Dataset/US_Final.csv')

In [ ]:
movies_metadata=pd.read_csv('Dataset/movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
movies_metadata.shape

(45466, 24)

In [ ]:
movies_metadata

       adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]

In [ ]:
movies_metadata.rename(columns={'imdb_id':'tconst'},inplace=True)

In [ ]:
India_Budget_Dataset=pd.merge(final,movies_metadata,on=['tconst'])

In [ ]:
India_Budget_Dataset.shape

(9799, 44)

In [ ]:
India_Budget_Dataset.columns

Index(['Unnamed: 0', 'tconst', 'ordering', 'title_x', 'region', 'language',
       'isOriginalTitle', 'titleType', 'primaryTitle', 'originalTitle',
       'isAdult', 'startYear', 'runtimeMinutes', 'genres_x', 'averageRating',
       'numVotes', 'directors', 'writers', 'Actors', 'Actress', 'Director',
       'adult', 'belongs_to_collection', 'budget', 'genres_y', 'homepage',
       'id', 'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title_y', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
India_Budget_Dataset=India_Budget_Dataset.drop(['Unnamed: 0', 'ordering', 'titleType','title_x', 'region','isOriginalTitle', 'titleType', 'primaryTitle', 'genres_y', 'homepage', 'original_language','id','original_title','poster_path','production_countries','runtime','title_y', 'video', 'vote_average', 'vote_count'],axis=1)

In [ ]:
India_Budget_Dataset.columns

Index(['tconst', 'language', 'originalTitle', 'isAdult', 'startYear',
       'runtimeMinutes', 'genres_x', 'averageRating', 'numVotes', 'directors',
       'writers', 'Actors', 'Actress', 'Director', 'adult',
       'belongs_to_collection', 'budget', 'overview', 'popularity',
       'production_companies', 'release_date', 'revenue', 'spoken_languages',
       'status', 'tagline'],
      dtype='object')

In [ ]:
India_Budget_Dataset.to_csv('Dataset/India_Budget_Dataset.csv')

In [ ]:
US_Budget_Dataset=pd.merge(final_US,movies_metadata,on=['tconst'])

In [ ]:
US_Budget_Dataset.columns

Index(['Unnamed: 0', 'tconst', 'ordering', 'title_x', 'region',
       'isOriginalTitle', 'titleType', 'primaryTitle', 'originalTitle',
       'isAdult', 'startYear', 'runtimeMinutes', 'genres_x', 'averageRating',
       'numVotes', 'directors', 'writers', 'Actors', 'Actress', 'Director',
       'adult', 'belongs_to_collection', 'budget', 'genres_y', 'homepage',
       'id', 'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title_y', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
US_Budget_Dataset.shape

(36938, 25)

In [ ]:
US_Budget_Dataset=US_Budget_Dataset.drop(['Unnamed: 0', 'ordering', 'titleType','title_x', 'region','isOriginalTitle', 'titleType', 'primaryTitle', 'genres_y', 'homepage','id','original_title','poster_path','production_countries','runtime','title_y', 'video', 'vote_average', 'vote_count'],axis=1)

In [ ]:
US_Budget_Dataset.columns

Index(['tconst', 'originalTitle', 'isAdult', 'startYear', 'runtimeMinutes',
       'genres_x', 'averageRating', 'numVotes', 'directors', 'writers',
       'Actors', 'Actress', 'Director', 'adult', 'belongs_to_collection',
       'budget', 'original_language', 'overview', 'popularity',
       'production_companies', 'release_date', 'revenue', 'spoken_languages',
       'status', 'tagline'],
      dtype='object')

In [ ]:
US_Budget_Dataset.to_csv('Dataset/US_Budget_Dataset.csv')